/* Cores css */
:root {
    --color-one:#090909;
    --color-two:#FAFAFA;
    --color-tree:#9E9E9E;
    --color-four:#43C251;
    --color-five:#060606;
    --color-six:#121212;
    --color-seven:#2da83b;
    --color-eight:#9e9e9e27;
}
/***/